definitions:
  AuthenticateRequest:
    properties:
      password:
        type: string
      usernameOrEmailAddress:
        type: string
    type: object
  AuthenticateResult:
    properties:
      accessToken:
        type: string
      expireInSeconds:
        type: integer
      refreshToken:
        type: string
      refreshTokenExpireInSeconds:
        type: integer
    type: object
  GetUsersResponseDto:
    properties:
      items:
        items:
          $ref: '#/definitions/UserDto'
        type: array
      totalCount:
        type: integer
    type: object
  RefreshTokenRequest:
    properties:
      token:
        type: string
    type: object
  RefreshTokenResult:
    properties:
      accessToken:
        type: string
      expireInSeconds:
        type: integer
    type: object
  UserDto:
    properties:
      email:
        type: string
      firstName:
        type: string
      id:
        type: integer
      lastName:
        type: string
      userName:
        type: string
    type: object
info:
  contact: {}
paths:
  /api/v1/accounts/authenticate:
    post:
      consumes:
      - application/json
      description: Authenticate
      parameters:
      - description: AuthenticateRequest
        in: body
        name: AuthenticateRequest
        required: true
        schema:
          $ref: '#/definitions/AuthenticateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AuthenticateResult'
      security:
      - ApiKeyAuth: []
      summary: Authenticate
      tags:
      - Accounts
  /api/v1/accounts/refresh-token:
    post:
      consumes:
      - application/json
      description: Refresh access token
      parameters:
      - description: RefreshTokenRequest
        in: body
        name: RefreshTokenRequest
        required: true
        schema:
          $ref: '#/definitions/RefreshTokenRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/RefreshTokenResult'
      security:
      - ApiKeyAuth: []
      summary: Refresh access token
      tags:
      - Accounts
  /api/v1/users:
    get:
      consumes:
      - application/json
      description: Get all users
      parameters:
      - in: query
        name: filters
        type: string
      - in: query
        name: maxResultCount
        type: integer
      - in: query
        name: skipCount
        type: integer
      - in: query
        name: sorting
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/GetUsersResponseDto'
      security:
      - ApiKeyAuth: []
      summary: Get all users
      tags:
      - Users
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
